<div class="toolbar" role="banner">
  <img width="135" alt="UCLL Logo" src="assets/UCLLOrigineel.png" />
  <h3>Web Education</h3>
  <nav>
    <ul>
      <li>
        <a class="active" href="#"><h2>Home</h2></a>
      </li>
      <li>
        <a href="#" title="HyperText Markup Language"><h2>Html</h2></a>
      </li>
      <li>
        <a href="#" title="Cascading Style Sheets"><h2>CSS</h2></a>
      </li>
      <li>
        <a href="#" title="Javascript"><h2>Javascript</h2></a>
      </li>
    </ul>
  </nav>
</div>
