<main>
  <h1>Inleiding</h1>
  <span class="spacer"></span>

  <h3>Wat is HTML?</h3>

  <ul class="indentedTable">
    <li>HTML staat voor HYPER TEXT MARKUP LANGUAGE</li>
    <li>HTML is de standaard voor het maken van web pagina's</li>
    <li>HTML beschrijft de structuur van een webpagina</li>
    <li>HTML bestaat uit een serie van elementen</li>
    <li>
      HTML elementen beschrijven hoe de pagina eruit moet zien aan de browser
    </li>
  </ul>
  <span class="spacer"></span>

  <h3>Wat is een HTML element?</h3>

  <p>
    Een HTML element is gedefiniëerd door een begin tag, content en een eind
    tag.
  </p>

  <img alt="Html tag" src="../../assets/htmlTag.png" width="50%" />
  <span class="spacer"></span>

  <h3>Enkele veel gebruikte elementen</h3>

  <table>
    <tr>
      <th>Element</th>
      <th>Betekenis</th>
    </tr>
    <tr>
      <td><code>&lt;p&gt;</code></td>
      <td>Paragraaf</td>
    </tr>
    <tr>
      <td><code>&lt;br&gt;</code></td>
      <td>Nieuwe lijn</td>
    </tr>
    <tr>
      <td><code>&lt;hr&gt;</code></td>
      <td>Lijn tekenen</td>
    </tr>
    <tr>
      <td><code>&lt;b&gt;</code></td>
      <td>Vetgedrukt</td>
    </tr>
    <tr>
      <td><code>&lt;i&gt;</code></td>
      <td>Schuingedrukt</td>
    </tr>
    <tr>
      <td><code>&lt;sup&gt;</code></td>
      <td>superscript</td>
    </tr>
    <tr>
      <td><code>&lt;sub&gt;</code></td>
      <td>subscript</td>
    </tr>
    <tr>
      <td><code>&lt;!--</code> en <code>--&gt;</code></td>
      <td>Commentaar</td>
    </tr>
  </table>
  <span class="spacer"></span>

  <!-- <p title="Hover een bericht boven het element">
      Paragraaf met een hover message wordt gecreërd met het attribute
      <code>title</code>.
    </p> -->

  <h3>Speciale tekens</h3>

  <p title="speciale tekens">
    Speciale tekens zoals groter en kleiner of ampersand kunnen niet
    rechtstreeks geschreven worden. Hiervoor moeten we dus de ascii notatie
    hebben.
  </p>

  <table>
    <tr>
      <th>Code</th>
      <th>Teken</th>
    </tr>
    <tr>
      <td><code>&amp;#62;</code></td>
      <td>&gt;</td>
    </tr>
    <tr>
      <td><code>&amp;#60;</code></td>
      <td>&lt;</td>
    </tr>
    <tr>
      <td><code>&amp;#38;</code></td>
      <td>&amp;</td>
    </tr>
    <tr>
      <td><code>&amp;#169;</code></td>
      <td>©</td>
    </tr>
    <tr>
      <td><code>@</code></td>
      <td>@</td>
    </tr>
  </table>
  <span class="spacer"></span>

  <h3>HTML structuur</h3>

  <img alt="Html tag" src="../../assets/HTML structure.png" width="50%" />
  <span class="spacer"></span>
</main>
